/*標籤*/
.tag-link {
    font-size: 1.2em; /* 字體放大 */
    border: 2px solid; /* 外框加粗 */
    padding: 5px 10px; /* 增加內邊距使外觀更美觀 */
    border-radius: 10px; /* 圓角 */
    text-decoration: none; /* 移除超連結下劃線 */
}

.tag-link:hover {
    border-color: #d841b7; /* 滑鼠懸停時變換外框顏色 */
}
/*標籤*/

/*橫幅圖片*/
.BasePageBanner {
    position: relative;
    width: 100%;
    height: 300px; /* 設定一個固定高度 */
    overflow: hidden; /* 防止內容溢出 */
}

.BasePageBanner .Mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* 可選的背景遮罩 */
}

.PageBannerItemBg {
    width: 100%;
    height: auto; /* 確保圖片自適應 */
    object-fit: cover; /* 確保圖片覆蓋整個區域 */
}

.BasePageBanner {
    position: relative;
    width: 100%;
    height: 450px; /* 設定一個固定高度 */
    overflow: hidden; /* 防止內容溢出 */
}

    .BasePageBanner .Mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0); /* 可選的背景遮罩 */
    }

.PageBannerItemBg {
    width: 100%;
    height: auto; /* 確保圖片自適應 */
    object-fit: cover; /* 確保圖片覆蓋整個區域 */
}
/*橫幅圖片*/