.dropdown:hover .dropdown-menu {
    display: block;
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
}

.navbar-nav.d-lg-flex {
    display: flex;
    flex-wrap: wrap;
}

.dropdown-item {
    margin-bottom: 10px;
}