@model TISS_Web.Models.ResetPasswordViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>重置密碼</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <form method="post" action="@Url.Action("ResetPassword", "WebAccount")">
        <input type="hidden" name="Token" value="@Model.Token" />
        <div class="form-group">
            <label for="NewPassword" title="新密碼">新密碼</label>
            <input type="password" class="form-control" id="NewPassword" name="NewPassword" placeholder="請輸入新密碼" required />
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <button type="submit" class="btn btn-primary" title="重置密碼">重置密碼</button>
    </form>
</body>
</html>