@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/site/css/ViewArticle.css" rel="stylesheet" />
    <link href="~/site/css/MenuLinkStyle.css" rel="stylesheet" />
</head>
<body>
    <div id="app" data-v-app="">
        <div data-v-339da53a="" class="layout">
            <div data-v-339da53a="" class="container-fluid px-0 mt-header">
                <div data-v-339da53a-s="" class="BasePageLayout">
                    <div class="BasePageBanner">
                        <div class="Mask">
                        </div>
                        <img class="PageBannerItemBg" src="/site/img/about_banner_1.cb027849.jpg" alt=""/>
                        <div class="container">
                            <div class="Title">
                                <div class="BannerTitle" title="About TISS">
                                    About TISS
                                </div>
                                <div class="BannerSubTitle">
                                    <img class="icon" src="/site/img/title_icon_white.5e98ec4e.svg" alt=""/>中心介紹
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="el-container">
                        <aside class="el-aside">
                            <div class="BaseBreadcrumb d-block d-lg-none">
                                <div class="container">
                                    <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                        <span class="el-breadcrumb__item">
                                            <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home" title="首頁">首頁</a>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                        <span class="el-breadcrumb__item" aria-current="page">
                                            <span class="el-breadcrumb__inner" title="中心介紹">中心介紹</span>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="Title" title="中心介紹">中心介紹</div>
                                <ul class="Menu">
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Objectives" title="使命、願景">使命、願景</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/mission" title="中心任務">中心任務</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Organization" title="組織概況">組織概況</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/BOD" title="第1屆 董監事">第1屆 董監事</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/CEO" title="執行長">執行長</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Units" title="單位介紹">單位介紹</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>

                        @*中央內容區塊*@
                        <main class="el-main bg-defaultO4">
                            <div class="MainContainer" id="main_content" >
                                <div class="BaseBreadcrumb d-none d-lg-block">
                                    <div class="container">
                                        <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                            <span class="el-breadcrumb__item">
                                                <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home" title="首頁">首頁</a>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span class="el-breadcrumb__item" aria-current="page">
                                                <span class="el-breadcrumb__inner" title="中心介紹">中心介紹</span>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="BOD">
                                <span id="BOD" class="anchor">
                                </span>
                                <div class="content">
                                    <div class="contentBox">
                                        <div class="SubTitle">
                                            <span title="本屆董事會">本屆董事會</span>
                                            <span class="primary" title="Board of Directors">Board of Directors</span>
                                        </div>
                                        <div class="el-divider el-divider--horizontal" role="separator" style="--el-border-style: solid;">
                                        </div>
                                        <div>
                                            <div class="el-table--fit el-table--enable-row-hover el-table--enable-row-transition el-table el-table--layout-fixed is-scrolling-none" data-prefix="el" style="height: auto;">
                                                <div class="el-table__inner-wrapper" style="height: auto;">
                                                    <div class="hidden-columns">
                                                    </div>
                                                    <div class="el-table__body-wrapper">
                                                        <div class="el-scrollbar">
                                                            <div class="el-scrollbar__wrap el-scrollbar__wrap--hidden-default" style="height: 100%;">
                                                                <div class="el-scrollbar__view" style="display: inline-block; vertical-align: middle;">

                                                                    <table class="el-table__body" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed; width: 870px;">
                                                                        <colgroup>
                                                                            <col name="el-table_1_column_1" width="221">
                                                                            <col name="el-table_1_column_2" width="219">
                                                                            <col name="el-table_1_column_3" width="430">
                                                                        </colgroup>
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="el-table_1_column_1 TablePadding el-table__cell">職位</th>
                                                                                <th class="el-table_1_column_2 TablePadding el-table__cell">姓名</th>
                                                                                <th class="el-table_1_column_3 TablePadding el-table__cell">任職經歷</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody tabindex="-1">
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事長">董事長</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="沈孟儒">沈孟儒</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.國立成功大學講座教授暨校長
                                                                                            <br>2. 國立成功大學醫學院附設醫院主治醫生
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="呂東武">呂東武</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.國立臺灣大學醫學工程學系教授
                                                                                            <br>2. 國立臺灣大學醫學系骨科合聘教授
                                                                                            <br>3. 國立臺灣大學職能治療學系合聘教授
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="林鴻道">林鴻道</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.中華奧林匹克委員會主席
                                                                                            <br>2.宏國關係事業副董事長
                                                                                            <br>3.凱撒飯店連鎖董事長
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                @*<td class="el-table_1_column_2 TablePadding el-table__cell">
            <div class="cell">
                <span title="林騰蛟">林騰蛟</span>
            </div>
        </td>*@
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="張廖萬堅">張廖萬堅</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.教育部政務次長
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                                @*<td class="el-table_1_column_3 TablePadding el-table__cell">
            <div class="cell">
                <p>
                    1.教育部常務次長
                    <br>2.國家運動訓練中心董事長
                </p>
            </div>
        </td>*@
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="相子元">相子元</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.國立臺灣師範大學運動競技學系研究講座教授
                                                                                            <br>2.台灣運動科技發展協會名譽理事長
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="柴惠敏">柴惠敏</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.國立臺灣大學物理治療學系助理教授
                                                                                            <br>2.國立臺灣師範大學運動競技學系兼任助理教授
                                                                                            <br>3.國立臺灣大學醫學院附設醫院物理治療中心兼任物理治療師
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="莊佳佳">莊佳佳</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.2015世界跆拳道錦標賽金牌
                                                                                            <br>2.前桃園市政府體育局長
                                                                                            <br>3.中華民國跆拳道協會第13屆運動員委員會召集人
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="陳念琴">陳念琴</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.女子拳擊運動員
                                                                                            <br>2.2018世界錦標賽69公斤金牌
                                                                                            <br>3.2020東京奧運66公斤第五名
                                                                                            <br>4.2022杭州亞運66公斤銅牌
                                                                                            <br>5.2022年亞洲錦標賽66公斤級金牌
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="湯文慈">湯文慈</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.國立體育大學競技學院院長
                                                                                            <br>2.國立體育大學競技與教練科學研究所教授
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="黃致豪">黃致豪</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.國立臺灣體育運動大學運動資訊與傳播學系教授
                                                                                            <br>2.運動情蒐、動作感測、運動賽事技戰術分析、運動大數據分析、高速攝影機相關技術專家
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="曾國維">曾國維</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.臺北市立大學副校長
                                                                                            <br>2.臺北市立大學運動健康科學系教授
                                                                                            <br>3.臺北市政府市政顧問
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="鄭世忠">鄭世忠</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.教育部體育署署長
                                                                                            <br>2.國立體育大學競技與教練科學研究所教授
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="謝邦昌">謝邦昌</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.天主教輔仁大學資源與事業發展副校長
                                                                                            <br>2.天主教輔仁大學AI人工智慧發展中心主任
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="戴資穎">戴資穎</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.女子羽球運動員
                                                                                            <br>2.臺灣首位世界羽球球后
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr class="el-table__row">
                                                                                <td class="el-table_1_column_1 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span class="primary d-block w-100" title="董事">董事</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_2 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <span title="饒達仁">饒達仁</span>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="el-table_1_column_3 TablePadding el-table__cell">
                                                                                    <div class="cell">
                                                                                        <p>
                                                                                            1.工業技術研究院機械與機電研究所所長
                                                                                            <br>2.國立清華大學動力機械工程學系教授
                                                                                        </p>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>



                                                                </div>
                                                            </div>
                                                            <div class="el-scrollbar__bar is-horizontal" style="display: none;">
                                                                <div class="el-scrollbar__thumb" style="transform: translateX(0%);">
                                                                </div>
                                                            </div>
                                                            <div class="el-scrollbar__bar is-vertical" style="display: none;">
                                                                <div class="el-scrollbar__thumb" style="transform: translateY(0%);">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="el-table__column-resize-proxy" style="display: none;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contentBox">
                                        <div class="SubTitle">
                                            <span title="監事">監事</span>
                                            <span class="primary" title="Supervisors">Supervisors</span>
                                        </div>
                                        <div class="el-divider el-divider--horizontal" role="separator" style="--el-border-style: solid;">
                                        </div>
                                        <div class="el-table--fit el-table--enable-row-hover el-table--enable-row-transition el-table el-table--layout-fixed is-scrolling-none" data-prefix="el" style="height: auto;">
                                            <div class="el-table__inner-wrapper" style="height: auto;">
                                                <div class="hidden-columns">
                                                    <div>
                                                    </div>
                                                    <div>
                                                    </div>
                                                    <div>
                                                    </div>
                                                </div>
                                                <div class="el-table__body-wrapper">
                                                    <div class="el-scrollbar">
                                                        <div class="el-scrollbar__wrap el-scrollbar__wrap--hidden-default" style="height: 100%;">
                                                            <div class="el-scrollbar__view" style="display: inline-block; vertical-align: middle;">
                                                                <table class="el-table__body" cellspacing="0" cellpadding="0" border="0" style="table-layout: fixed; width: 870px;">
                                                                    <colgroup>
                                                                        <col name="el-table_2_column_4" width="221">
                                                                        <col name="el-table_2_column_5" width="219">
                                                                        <col name="el-table_2_column_6" width="430">
                                                                    </colgroup>
                                                                    <tbody tabindex="-1">
                                                                        <tr class="el-table__row">
                                                                            <td class="el-table_2_column_4 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span class="primary d-block w-100" title="常務監事">常務監事</span>
                                                                                </div>
                                                                            </td>
                                                                            <td class="el-table_2_column_5 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span title="劉嘉松">劉嘉松</span>
                                                                                </div>
                                                                            </td>
                                                                            <td class="el-table_2_column_6 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span>
                                                                                        <p>
                                                                                            1.嘉美聯合會計師事務所所長兼會計師
                                                                                            <br>2.曾任臺灣省會計師公會理事長
                                                                                            <br>3.曾任國家運動訓練中心常務監事
                                                                                        </p>
                                                                                    </span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="el-table__row">
                                                                            <td class="el-table_2_column_4 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span class="primary d-block w-100" title="監事">監事</span>
                                                                                </div>
                                                                            </td>
                                                                            <td class="el-table_2_column_5 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span title="陳美燕">陳美燕</span>
                                                                                </div>
                                                                            </td>
                                                                            <td class="el-table_2_column_6 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span>
                                                                                        <p>
                                                                                            1.國立臺灣師範大學運動休閒與餐旅管理研究所優聘教授
                                                                                            <br>2.應用統計與大數據分析領域專家
                                                                                            <br>3.國科會精準運科專案營推計畫主持人
                                                                                            <br>4.中華奧林匹克委員會執行委員
                                                                                        </p>
                                                                                    </span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="el-table__row">
                                                                            <td class="el-table_2_column_4 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span class="primary d-block w-100" title="監事">監事</span>
                                                                                </div>
                                                                            </td>
                                                                            <td class="el-table_2_column_5 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span title="黃英霓">黃英霓</span>
                                                                                </div>
                                                                            </td>
                                                                            <td class="el-table_2_column_6 TablePadding el-table__cell" rowspan="1" colspan="1">
                                                                                <div class="cell">
                                                                                    <span>
                                                                                        <p>
                                                                                            1.運動發展基金管理會第8屆委員
                                                                                            <br>2.前行政院法規會參事
                                                                                        </p>
                                                                                    </span>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="el-scrollbar__bar is-horizontal" style="display: none;">
                                                            <div class="el-scrollbar__thumb" style="transform: translateX(0%);">
                                                            </div>
                                                        </div>
                                                        <div class="el-scrollbar__bar is-vertical" style="display: none;">
                                                            <div class="el-scrollbar__thumb" style="transform: translateY(0%);">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="el-table__column-resize-proxy" style="display: none;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            function toggleDropdown(dropdownId) {
                var dropdownToggle = document.getElementById(dropdownId);
                var dropdownMenu = dropdownToggle.nextElementSibling;

                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                } else {
                    dropdownMenu.classList.add('show');
                }
            }
        });

        //圖片及文字存檔功能
        function saveContent() {
            var textContent = document.getElementById('intro').innerHTML;
            var imageSrc = document.getElementById('mainImage').src;

            $.ajax({
                url: 'BODSaveContent',
                method: 'POST',
                data: {
                    TextContent: textContent,
                    ImageSrc: imageSrc
                },
                success: function (response) {
                    if (response.success) {
                        document.getElementById('mainImage').src = response.imagePath;
                        alert('內容已儲存');
                    } else {
                        alert('儲存失敗: ' + response.error);
                    }
                },
                error: function (err) {
                    console.error('儲存失敗', err);
                }
            });
        }

        function loadContent() {
            $.ajax({
                url: 'BODGetContent',
                method: 'GET',
                success: function (response) {
                    if (response.success) {
                        document.getElementById('intro').innerText = response.textContent;
                        document.getElementById('mainImage').src = response.imagePath;
                    } else {
                        console.error('載入失敗: ' + response.error);
                    }
                },
                error: function (err) {
                    console.error('載入失敗', err);
                }
            });
        }
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.pathname;
            var menuLinks = document.querySelectorAll('.MenuLink');

            menuLinks.forEach(function (link) {

                if (link.getAttribute('href') === currentUrl) {
                    link.classList.add('active');
                }
            });
        });
    </script>
</body>
</html>