@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>修改密碼</title>
</head>
<body>
    <div>
        @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
        {
            <p style="color: red;">@ViewBag.ErrorMessage</p>
        }
        @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
        {
            <p style="color: green;">@ViewBag.SuccessMessage</p>
        }
        <form method="post">
            <div>
                <label for="userName">帳號：</label>
                <input type="text" id="userName" name="userName" value="@ViewBag.UserName" readonly />
            </div>
            <div>
                <label for="oldPwd">舊密碼：</label>
                <input type="password" id="oldPwd" name="oldPwd" required />
            </div>
            <div>
                <label for="newPwd">新密碼：</label>
                <input type="password" id="newPwd" name="newPwd" required />
            </div>
            <button type="submit">修改密碼</button>
        </form>
    </div>
</body>
</html>