@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .anchor {
            display: block;
            position: relative;
            top: -160px; /* 根據實際情況調整 */
            visibility: hidden;
        }
    </style>
</head>
<body>
    <noscript>
        <strong>We're sorry but 國家運動科學中心 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="fb-root">
    </div>
    <div id="app" data-v-app="">
        <div data-v-339da53a="" class="layout">
            <header data-v-ffd846e6="" data-v-339da53a="">
                <div data-v-e61ebf00="" data-v-ffd846e6="" class="logoNav">
                    <div data-v-e61ebf00="" class="container">
                        <a data-v-e61ebf00="" href="/" class="mainLogo">
                            <img data-v-e61ebf00="" src="/site/img/logo.1fec0909.svg" alt="TISS logo">
                        </a>
                        <nav data-v-e61ebf00="" class="d-lg-flex d-none">
                            <ul data-v-e61ebf00="" class="ToolList">
                                <li data-v-e61ebf00="">
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn">小</button>
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn active">中</button>
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn">大</button>
                                </li>
                                <li data-v-e61ebf00="">
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-round LangBtn">
                                        <span class="">
                                            <svg data-v-e61ebf00="" class="svg-inline--fa fa-globe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                <path class="" fill="currentColor" d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z">
                                                </path>
                                            </svg>
                                            <span data-v-e61ebf00="">En</span>
                                        </span>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div data-v-71bab962="" class="menuNav">
                    <div data-v-71bab962="" class="container-lg">
                        <nav data-v-71bab962="" class="navbar navbar-expand-lg navbar-light p-0">
                            <button data-v-71bab962="" aria-label="Toggler" data-bs-toggle="collapse" class="navbar-toggler" type="button" value="toggler">
                                <svg data-v-71bab962="" class="svg-inline--fa fa-bars" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                                    <path class="" fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z">
                                    </path>
                                </svg>
                            </button>
                            <div data-v-71bab962="" class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div data-v-71bab962="" class="d-block d-lg-none">
                                    <ul data-v-71bab962="" class="ToolList">
                                        <li data-v-71bab962="">
                                            <span data-v-71bab962="">
                                                <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn">小</button>
                                                <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn active">中</button>
                                                <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn">大</button>
                                            </span>
                                            <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-round LangBtn">
                                                <span class="">
                                                    <svg data-v-71bab962="" class="svg-inline--fa fa-globe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                        <path class="" fill="currentColor" d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z">
                                                        </path>
                                                    </svg>
                                                    <span data-v-71bab962="">En</span>
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                    <div data-v-71bab962="" class="el-divider el-divider--horizontal" role="separator" style="--el-border-style: solid;">
                                    </div>
                                    <div data-v-71bab962="" class="el-row" style="margin-left: -17.5px; margin-right: -17.5px;">
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" href="/Tiss/announcement" class="MenuTitle">最新消息</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/announcement">中心公告</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/video">影音專區</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" href="/Tiss/about" class="router-link-active router-link-exact-active MenuTitle" aria-current="page">中心介紹</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/Objectives#Objectives">使命、願景</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/mission">中心任務</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/Organization">組織概況</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/BOD">第１屆 董監事</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/CEO">執行長</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/Units">單位介紹</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" href="/Tiss/research" class="MenuTitle">科普專欄</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportScience#sportScience">運動科學研究</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportTech#sportTech">運動科技與資訊開發</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportMedicine#sportMedicine">運動醫學研究</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" href="/Tiss/public_info" class="MenuTitle">公開資訊</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/regulation#regulation">法規</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/procedure#procedure">辦法及要點</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/plan#plan">計畫</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/budget#budget">預算與決算</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/download#download">下載專區</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/purchase#purchase">採購作業實施規章</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/other#other">其他</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" aria-current="page" href="/about" class="router-link-active router-link-exact-active MenuTitle">服務信箱</a>
                                        </div>
                                    </div>
                                </div>
                                <ul data-v-71bab962="" class="navbar-nav mb-2 mb-lg-0 d-none d-lg-flex">
                                    <li data-v-71bab962="" class="nav-item">
                                        <a data-v-71bab962="" href="/Tiss/announcement" class="nav-link">
                                            最新消息
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item">
                                        <a data-v-71bab962="" href="/Tiss/about" class="router-link-active router-link-exact-active nav-link" aria-current="page">
                                            中心介紹
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item">
                                        <a data-v-71bab962="" href="/Tiss/research" class="nav-link">
                                            科普專欄
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item">
                                        <a data-v-71bab962="" href="/Tiss/public_info" class="nav-link">
                                            公開資訊
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item">
                                        <a data-v-71bab962="" href="/Tiss/GenderEquality" class="nav-link">
                                            性別平等專區
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item">
                                        <a data-v-71bab962="" href="mailto:service@tiss.org.tw" class="nav-link">服務信箱</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div data-v-71bab962="" class="ChildrenList d-none d-lg-block">
                    <div data-v-71bab962="" class="container-lg">
                        <ul data-v-71bab962="" class="List">
                            <li data-v-71bab962="">
                                <a data-v-71bab962="" class="ItemLink" href="/Tiss/Objectives">
                                    使命、願景
                                    <span data-v-71bab962="" class="ItemLinkIcon">
                                        <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li data-v-71bab962="">
                                <a data-v-71bab962="" class="ItemLink" href="/Tiss/mission">
                                    中心任務
                                    <span data-v-71bab962="" class="ItemLinkIcon">
                                        <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li data-v-71bab962="">
                                <a data-v-71bab962="" class="ItemLink" href="/Tiss/Organization">
                                    組織概況
                                    <span data-v-71bab962="" class="ItemLinkIcon">
                                        <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li data-v-71bab962="">
                                <a data-v-71bab962="" class="ItemLink" href="/Tiss/BOD">
                                    第１屆 董監事
                                    <span data-v-71bab962="" class="ItemLinkIcon">
                                        <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li data-v-71bab962="">
                                <a data-v-71bab962="" class="ItemLink" href="/Tiss/CEO">
                                    執行長
                                    <span data-v-71bab962="" class="ItemLinkIcon">
                                        <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li data-v-71bab962="">
                                <a data-v-71bab962="" class="ItemLink" href="/Tiss/Units">
                                    單位介紹
                                    <span data-v-71bab962="" class="ItemLinkIcon">
                                        <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z">
                                            </path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <div data-v-339da53a="" class="container-fluid px-0 mt-header">
                <div data-v-339da53a-s="" class="BasePageLayout">
                    <div class="BasePageBanner">
                        <div class="Mask">
                        </div>
                        <img class="PageBannerItemBg" src="/site/img/about_banner_1.cb027849.jpg" alt="">
                        <div class="container">
                            <div class="Title">
                                <div class="BannerTitle">
                                    About TISS
                                </div>
                                <div class="BannerSubTitle">
                                    <img class="icon" src="/site/img/title_icon_white.5e98ec4e.svg" alt="">中心介紹
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="el-container">
                        <aside class="el-aside">
                            <div class="BaseBreadcrumb d-block d-lg-none">
                                <div class="container">
                                    <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                        <span class="el-breadcrumb__item">
                                            <a class="el-breadcrumb__inner is-link" role="link" href="https://tiss.org.tw/?lang=zh-Hant">首頁</a>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                        <span class="el-breadcrumb__item" aria-current="page">
                                            <span class="el-breadcrumb__inner" role="link">中心介紹</span>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="Title">中心介紹</div>
                                <ul class="Menu">
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Objectives#Objectives">使命、願景</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/mission/#Mission">中心任務</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Organization#Organization">組織概況</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/BOD#BOD">第１屆 董監事</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/CEO#CEO">執行長</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Units#Units">單位介紹</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <main class="el-main bg-defaultO4">
                            <div class="MainContainer">
                                <div class="BaseBreadcrumb d-none d-lg-block">
                                    <div class="container">
                                        <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                            <span class="el-breadcrumb__item">
                                                <a class="el-breadcrumb__inner is-link" role="link" href="https://tiss.org.tw/?lang=zh-Hant">首頁</a>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span class="el-breadcrumb__item" aria-current="page">
                                                <span class="el-breadcrumb__inner" role="link">中心介紹</span>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="Objectives">
                                    <span id="Objectives" class="anchor">
                                    </span>
                                    <div class="content">
                                        <div class="contentBox">
                                            <div class="SubTitle">
                                                <span>使命、願景</span>
                                                <span class="primary">Objectives</span>
                                            </div>
                                            <div>
                                                <div class="Intro">推動運動科學研究及應用，提升國際運動競爭力</div>
                                                <div class="SubIntro">TO PROMOTE OUR RESEARCH ACHIEVEMENTS IN SPORTS SCIENCE AND TO ENHANCE OUR INTERNATIONAL ATHLETIC COMPETITIVENESS</div>
                                            </div>
                                        </div>
                                        <img class="ObjectivesImg" src="/site/img/Objectives_img.fb276b91.jpg" alt="">
                                    </div>
                                </div>
                                <div class="Mission">
                                    <span id="Mission" class="anchor">
                                    </span>
                                    <div class="content">
                                        <div class="SubTitle">
                                            <span>中心任務</span>
                                            <span class="primary">Mission</span>
                                        </div>
                                        <div class="el-divider el-divider--horizontal" role="separator" style="--el-border-style: solid;">
                                        </div>
                                        <ul class="MissionList">
                                            <li class="MissionItem">
                                                <div class="MissionItemNumber">01</div>
                                                <div class="MissionItemContent">辦理國家優秀運動選手培訓、參賽所需之運動科學支援服務、健康管理及醫療照護</div>
                                            </li>
                                            <li class="MissionItem">
                                                <div class="MissionItemNumber">02</div>
                                                <div class="MissionItemContent">辦理國際運動賽事資訊之蒐集、分析及支援</div>
                                            </li>
                                            <li class="MissionItem">
                                                <div class="MissionItemNumber">03</div>
                                                <div class="MissionItemContent">推動運動科學之研究</div>
                                            </li>
                                            <li class="MissionItem">
                                                <div class="MissionItemNumber">04</div>
                                                <div class="MissionItemContent">進行運動科技之研發、技術移轉及加值應用，提升產業競爭力</div>
                                            </li>
                                        </ul>
                                        <ul class="MissionList">
                                            <li class="MissionItem">
                                                <div class="MissionItemNumber">05</div>
                                                <div class="MissionItemContent">促進國內外運動科學研究機構之合作交流</div>
                                            </li>
                                            <li class="MissionItem">
                                                <div class="MissionItemNumber">06</div>
                                                <div class="MissionItemContent">協助規劃及培育運動科學專業人才</div>
                                            </li>
                                            <li class="MissionItem">
                                                <div class="MissionItemNumber">07</div>
                                                <div class="MissionItemContent">運動科學成果推廣全民運用</div>
                                            </li>
                                            <li class="MissionItem last">
                                                <div class="MissionItemNumber text-center">
                                                    <svg class="svg-inline--fa fa-flag" aria-hidden="true" focusable="false" data-prefix="far" data-icon="flag" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512">
                                                        <path class="" fill="currentColor" d="M48 24C48 10.7 37.3 0 24 0S0 10.7 0 24V64 350.5 400v88c0 13.3 10.7 24 24 24s24-10.7 24-24V388l80.3-20.1c41.1-10.3 84.6-5.5 122.5 13.4c44.2 22.1 95.5 24.8 141.7 7.4l34.7-13c12.5-4.7 20.8-16.6 20.8-30V66.1c0-23-24.2-38-44.8-27.7l-9.6 4.8c-46.3 23.2-100.8 23.2-147.1 0c-35.1-17.6-75.4-22-113.5-12.5L48 52V24zm0 77.5l96.6-24.2c27-6.7 55.5-3.6 80.4 8.8c54.9 27.4 118.7 29.7 175 6.8V334.7l-24.4 9.1c-33.7 12.6-71.2 10.7-103.4-5.4c-48.2-24.1-103.3-30.1-155.6-17.1L48 338.5v-237z">
                                                        </path>
                                                    </svg>
                                                </div>
                                                <div class="MissionItemContent text-center">與TISS一起持續推動臺灣運動科學發展</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="Organization">
                                    <span id="Organization" class="anchor">
                                    </span>
                                    <div class="content">
                                        <div class="SubTitle">
                                            <span>組織概況</span>
                                            <span class="primary">Organization Structure</span>
                                        </div>
                                        <div class="content">
                                            <div class="el-row">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8">
                                                    <a href="/Tiss/BOD#BOD" class="OrganizationItem">
                                                        <div class="ItemTitle">董事會</div>
                                                        <div class="ItemSubTitle">Board of Directors</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="el-row">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8">
                                                    <a href="/Tiss/BOD#BOD" class="OrganizationItem">
                                                        <div class="ItemTitle">董事長</div>
                                                        <div class="ItemSubTitle">Chairman</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="el-row">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8">
                                                    <a href="/Tiss/CEO#CEO" class="OrganizationItem">
                                                        <div class="ItemTitle">執行長</div>
                                                        <div class="ItemSubTitle">CEO</div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="el-row HasTwo" style="margin-left: -12px; margin-right: -12px;">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                                    <div class="OrganizationItem">
                                                        <div class="ItemTitle">副執行長</div>
                                                        <div class="ItemSubTitle">Associate CEO</div>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                                    <div class="OrganizationItem">
                                                        <div class="ItemTitle">副執行長</div>
                                                        <div class="ItemSubTitle">Associate CEO</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="el-row HasTwo" style="margin-left: -12px; margin-right: -12px;">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-8 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                                    <div class="OrganizationItem">
                                                        <div class="ItemTitle">主任秘書</div>
                                                        <div class="ItemSubTitle">Chief Secretary</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="el-row HasFour" style="margin-left: -12px; margin-right: -12px;">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                                    <div class="OrganizationItem">
                                                        <div class="ItemTitle">運動科學研究處</div>
                                                        <div class="ItemSubTitle">Department of Sport Science Research</div>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                                    <div class="OrganizationItem">
                                                        <div class="ItemTitle">運動科技與資訊開發處</div>
                                                        <div class="ItemSubTitle">Department of Sport Technology and Information</div>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                                    <div class="OrganizationItem">
                                                        <div class="ItemTitle">運動醫學研究處</div>
                                                        <div class="ItemSubTitle">Department of Sport Medicine Research</div>
                                                    </div>
                                                </div>
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                                    <div class="OrganizationItem">
                                                        <div class="ItemTitle">行政管理處</div>
                                                        <div class="ItemSubTitle">Department of Administration</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
            </div>
            <footer data-v-339da53a="">
                <div class="FooterDecoration">
                </div>
                <div class="container">
                    <div class="FooterContent">
                        <div class="LeftFooterContent">
                            <div class="Info">
                                <img class="logo" src="/site/img/logo.1fec0909.svg" alt="">
                                <ul class="InfoList">
                                    <li>
                                        <span class="label">地址</span>
                                        <span>813高雄市左營區世運大道399號</span>
                                    </li>
                                    <li>
                                        <span class="label">服務電話</span>
                                        <span>07-586-1193</span>
                                    </li>
                                    <li>
                                        <span class="label">服務時間</span>
                                        <span>週一至週五08:30~17:30</span>
                                    </li>
                                    <li>
                                        <span class="label">服務信箱</span>
                                        <span>
                                            <a href="mailto:service@tiss.org.tw">國家運動科學中心服務信箱</a>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <ul class="SocialList d-none d-lg-flex">
                                <li>
                                    <div class="SocialLink">
                                        <svg class="svg-inline--fa fa-facebook-f" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z">
                                            </path>
                                        </svg>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="RightFooterContent">
                            <div class="el-row" style="margin-left: -7.5px; margin-right: -7.5px; width: 100%;">
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/announcement" class="MenuTitle">最新消息</a>
                                    <ul class="MenuList">
                                        <li>
                                            <a href="/Tiss/announcement">中心公告</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/video">影音專區</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/about" class="router-link-active router-link-exact-active MenuTitle" aria-current="page">中心介紹</a>
                                    <ul class="MenuList">
                                        <li>
                                            <a href="/Tiss/Objectives#Objectives">使命、願景</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/mission#mission">中心任務</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/Organization#Organization">組織概況</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/BOD#BOD">第１屆 董監事</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/CEO#CEO">執行長</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/Units#Units">單位介紹</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/research" class="MenuTitle">科普專欄</a>
                                    <ul class="MenuList">
                                        <li>
                                            <a href="/Tiss/sportScience#sportScience">運動科學研究</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/sportTech#sportTech">運動科技與資訊開發</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/sportMedicine#sportMedicine">運動醫學研究</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/public_info" class="MenuTitle">公開資訊</a>
                                    <ul class="MenuList">
                                        <li>
                                            <a href="/Tiss/regulation#regulation">法規</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/procedure#procedure">辦法及要點</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/plan#plan">計畫</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/budget#budget">預算與決算</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/download#download">下載專區</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/purchase#purchase">採購作業實施規章</a>
                                        </li>
                                        <li>
                                            <a href="/Tiss/other#other">其他</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="SocialList d-block d-lg-none">
                                <li>
                                    <div class="SocialLink">
                                        <svg class="svg-inline--fa fa-facebook-f" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 320 512">
                                            <path class="" fill="currentColor" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z">
                                            </path>
                                        </svg>
                                    </div>
                                </li>
                            </ul>
                            <div class="d-flex w-100">
                                <span>本網站建議使用 Microsoft Edge / Firefox / Chrome 瀏覽器，最佳瀏覽解析 1920×1080</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">Copyright © 國家運動科學中心 All Rights Reserved.</div>
                </div>
            </footer>
            <div data-v-339da53a="" class="el-backtop GoTop" style="right: 40px; bottom: 40px;">
                <svg data-v-339da53a="" class="svg-inline--fa fa-chevron-up" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path class="" fill="currentColor" d="M233.4 105.4 c12.5-12.5 32.8-12.5 45.3 0l192 192 c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0 L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                    </path>
                </svg>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const links = document.querySelectorAll('a[href^="#"]');

            for (const link of links) {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    const targetID = this.getAttribute('href').substring(1);
                    const targetElement = document.getElementById(targetID);

                    if (targetElement) {
                        window.scrollTo({
                            top: targetElement.getBoundingClientRect().top + window.scrollY - 0, // 根據CSS中的top值調整
                            behavior: 'smooth'
                        });
                    }
                });
            }
        });
    </script>
</body>
</html>