@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div id="fb-root"></div>
    <div id="app" data-v-app="">
        <div data-v-339da53a="" class="layout">
            <div data-v-339da53a="" class="container-fluid px-0 mt-header">
                <div data-v-339da53a-s="" class="BasePageLayout">
                    <div class="BasePageBanner">
                        <div class="Mask">
                        </div>
                        <img class="PageBannerItemBg d-none d-lg-block" src="/site/img/news_banner.856d4a80.jpg" alt="">
                        <img class="PageBannerItemBg d-block d-lg-none" src="/site/img/banner_announcement.1b73bdab.jpg" alt="">
                        <div class="container">
                            <div class="Title">
                                <div class="BannerTitle">
                                    Announcements
                                </div>
                                <div class="BannerSubTitle">
                                    <img class="icon" src="/site/img/title_icon_white.5e98ec4e.svg" alt="">中心公告
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="el-container">
                        <aside class="el-aside">
                            <div class="BaseBreadcrumb d-block d-lg-none">
                                <div class="container">
                                    <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                        <span class="el-breadcrumb__item">
                                            <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home">首頁</a>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                        <span class="el-breadcrumb__item">
                                            <span class="el-breadcrumb__inner" role="link">最新消息</span>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                        <span class="el-breadcrumb__item" aria-current="page">
                                            <span class="el-breadcrumb__inner" role="link">中心公告</span>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="Title">中心公告</div>
                                <ul class="Menu">
                                    <li span="3">
                                        <a class="MenuLink active" href="/Tiss/announcement">全部文章</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/press">新聞發佈</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/institute">中心訊息</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/recruit">徵才招募</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <main class="el-main bg-white">
                            <div class="MainContainer">
                                <div class="BaseBreadcrumb d-none d-lg-block">
                                    <div class="container">
                                        <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                            <span class="el-breadcrumb__item">
                                                <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home">首頁</a>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span class="el-breadcrumb__item">
                                                <span class="el-breadcrumb__inner" role="link">最新消息</span>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span class="el-breadcrumb__item" aria-current="page">
                                                <span class="el-breadcrumb__inner" role="link">中心公告</span>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="MainContainer">
                                <div class="AnnouncementList">
                                    <div class="container">
                                        <div class="el-row" style="margin-left: -12px; margin-right: -12px;">
                                            <div class="el-col el-col-24 el-col-sm-24 el-col-md-8 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                                <a href="/announcement/r7oxxjc83fadzdw9x5ck" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/storage/media/storage/media/S__27959338.jpg" alt="">
                                                            <div class="tag">新聞發佈</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">國家運動科學中心備戰巴黎奧運 邀義大利籍教授傳授射擊心法</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">
                                                            </span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round">
                                                                <span class="el-tag__content">運動科學研究處</span>
                                                            </span>
                                                            <span>2024/03/25</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="el-col el-col-24 el-col-sm-24 el-col-md-8 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                                <a href="/announcement/%E6%89%93%E9%80%A0%E5%9C%8B%E6%B0%91%E5%81%A5%E5%BA%B7%E8%B3%87%E6%96%99%E5%BA%AB%20%E5%9C%8B%E5%AE%B6%E9%81%8B%E7%A7%91%E4%B8%AD%E5%BF%83%E8%87%BA%E9%AB%94%E5%A4%A7%E7%B0%BD%E7%BD%B2%E5%90%88%E4%BD%9C%E5%82%99%E5%BF%98%E9%8C%84" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/storage/media/storage/media/20240321003675.jpg" alt="">
                                                            <div class="tag">新聞發佈</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">打造國民健康資料庫 國家運科中心臺體大簽署合作備忘錄</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">MOU簽署4-打造國民健康資料庫 國家運科中心臺體大簽署合作備忘錄</span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round">
                                                                <span class="el-tag__content">MOU簽署</span>
                                                            </span>
                                                            <span>2024/03/21</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="el-col el-col-24 el-col-sm-24 el-col-md-8 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                                <a href="/announcement/%E5%8C%97%E5%B8%82%E5%A4%A7%E8%88%87%E5%9C%8B%E5%AE%B6%E9%81%8B%E7%A7%91%E4%B8%AD%E5%BF%83%E7%B0%BD%E7%BD%B2%E5%90%88%E4%BD%9C%E5%8D%94%E8%AD%B0%E6%9B%B8%20%E7%A9%8D%E6%A5%B5%E6%8E%A8%E5%8B%95%E9%81%8B%E7%A7%91%E7%99%BC%E5%B1%95" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="/storage/media/storage/media/20240223003384.jpeg" alt="">
                                                            <div class="tag">新聞發佈</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">北市大與國家運科中心簽署合作協議書 積極推動運科發展</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">MOU簽署3-北市大與國家運科中心簽署合作協議書 積極推動運科發展</span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round">
                                                                <span class="el-tag__content">MOU簽署</span>
                                                            </span>
                                                            <span>2024/02/23</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="el-col el-col-24 el-col-sm-24 el-col-md-8 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                                <a href="/announcement/%E6%88%90%E5%A4%A7%E8%88%87%E5%9C%8B%E5%AE%B6%E9%81%8B%E5%8B%95%E7%A7%91%E5%AD%B8%E4%B8%AD%E5%BF%83%E6%94%9C%E6%89%8B%E5%9F%B9%E8%82%B2%E9%81%8B%E5%8B%95%E7%A7%91%E6%8A%80%E9%97%9C%E9%8D%B5%E4%BA%BA%E6%89%8D%E3%80%80%E9%96%8B%E5%95%9F%E7%A0%94%E7%99%BC%E5%90%88%E4%BD%9C%E6%96%B0%E7%AF%87%E7%AB%A0" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/storage/media/storage/media/成大與國家運動科學中心攜手培育運動科/0110-2.jpeg" alt="">
                                                            <div class="tag">新聞發佈</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">成大與國家運動科學中心攜手培育運動科技關鍵人才　開啟研發合作新篇章</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">MOU簽署2-成大與國家運動科學中心攜手培育運動科技關鍵人才　開啟研發合作新篇章</span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round">
                                                                <span class="el-tag__content">MOU簽署</span>
                                                            </span>
                                                            <span>2024/01/10</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="el-col el-col-24 el-col-sm-24 el-col-md-8 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                                <a href="/announcement/%E7%94%A8%E7%A7%91%E5%AD%B8%E5%BC%B7%E5%8C%96%E9%81%8B%E5%8B%95%20%E9%AB%98%E9%86%AB%E5%A4%A7%E6%94%9C%E6%89%8B%E5%9C%8B%E5%AE%B6%E9%81%8B%E5%8B%95%E7%A7%91%E5%AD%B8%E4%B8%AD%E5%BF%83%E7%B0%BD%E7%BD%B2mou" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/storage/media/1211-2.jpg" alt="">
                                                            <div class="tag">新聞發佈</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">用科學強化運動 高醫大攜手國家運動科學中心簽署MOU</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">MOU簽署1-用科學強化運動 高醫大攜手國家運動科學中心簽署MOU</span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round">
                                                                <span class="el-tag__content">MOU簽署</span>
                                                            </span>
                                                            <span>2023/12/11</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Pagination">
                                    <div class="container">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item disabled">
                                                    <button class="page-link" aria-disabled="true" disabled aria-label="First">
                                                        <span aria-hidden="true">
                                                            <svg class="svg-inline--fa fa-angles-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angles-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                <path fill="currentColor" d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160zm352-160l-160 160c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L301.3 256 438.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0z"></path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </li>
                                                <li class="page-item disabled">
                                                    <button class="page-link" aria-disabled="true" disabled aria-label="Previous">
                                                        <span aria-hidden="true">
                                                            <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                                <path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </li>
                                                <li class="page-item active" aria-current="page">
                                                    <button class="page-link">1</button>
                                                </li>
                                                <li class="page-item">
                                                    <button class="page-link">2</button>
                                                </li>
                                                <li class="page-item">
                                                    <button class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">
                                                            <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                                <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </li>
                                                <li class="page-item">
                                                    <button class="page-link" aria-label="Last">
                                                        <span aria-hidden="true">
                                                            <svg class="svg-inline--fa fa-angles-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angles-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                                <path fill="currentColor" d="M470.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 256 265.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160zm-352 160l160-160c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L210.7 256 73.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0z"></path>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
            </div>
            <div data-v-339da53a="" class="el-backtop GoTop" style="right: 40px; bottom: 40px;">
                <svg data-v-339da53a="" class="svg-inline--fa fa-chevron-up" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
    <script>
    $(documnet).reday(function () {
        function toggleDropdown(dropdownId) {
            var dropdownToggle = document.getElementById(dropdownId);
            var dropdownMenu = dropdownToggle.nextElementSibling;

            if (dropdownMenu.classList.contains('show')) {
                dropdownMenu.classList.remove('show');
            } else {
                dropdownMenu.classList.add('show');
            }
        }
    });
    </script>
</body>
</html>