@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .anchor {
            display: block;
            position: relative;
            top: -500px; /* 根據實際情況調整 */
            visibility: hidden;
        }
    </style>
</head>
<body>
    <div id="fb-root"></div>
    <div id="app" data-v-app="">
        <div data-v-339da53a="" class="layout">
            <header data-v-ffd846e6="" data-v-339da53a="">
                <div data-v-e61ebf00="" data-v-ffd846e6="" class="logoNav">
                    <div data-v-e61ebf00="" class="container">
                        <a data-v-e61ebf00="" href="/" class="mainLogo">
                            <img data-v-e61ebf00="" src="/site/img/logo.1fec0909.svg" alt="TISS logo">
                        </a>
                        <nav data-v-e61ebf00="" class="d-lg-flex d-none">
                            <ul data-v-e61ebf00="" class="ToolList">
                                <li data-v-e61ebf00="">
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn" aria-label="btn" data-size="small">小</button>
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn active" aria-label="btn" data-size="medium">中</button>
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn" aria-label="btn" data-size="large">大</button>
                                </li>
                                <li data-v-e61ebf00="">
                                    <button data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-round LangBtn">
                                        <span class="">
                                            <svg data-v-e61ebf00="" class="svg-inline--fa fa-globe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                <path class="" fill="currentColor" d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z">
                                                </path>
                                            </svg>
                                            <span data-v-e61ebf00="">En</span>
                                        </span>
                                    </button>
                                </li>
                                <li id="loginBtn">
                                    <button onclick="location.href='/Tiss/Login'" data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-text FontSizeBtn" aria-label="btn">網頁管理者</button>
                                </li>
                                <li id="logoutBtn" style="display: none;">
                                    <form id="logoutForm" action="/Tiss/Logout" method="post">
                                        <button type="submit" class="btn btn-outline-danger btn-block">登出</button>
                                    </form>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div data-v-71bab962="" class="menuNav">
                    <div data-v-71bab962="" class="container-lg">
                        <nav data-v-71bab962="" class="navbar navbar-expand-lg navbar-light p-0">
                            <button data-v-71bab962="" aria-label="Toggler" data-bs-toggle="collapse" class="navbar-toggler" type="button" value="toggler">
                                <svg data-v-71bab962="" class="svg-inline--fa fa-bars" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path class="" fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z">
                                    </path>
                                </svg>
                            </button>
                            <div data-v-71bab962="" class="collapse navbar-collapse" id="navbarSupportedContent">
                                <div data-v-71bab962="" class="d-block d-lg-none">
                                    <ul data-v-71bab962="" class="ToolList">
                                        <li data-v-71bab962="">
                                            <span data-v-71bab962="">
                                                <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn">小</button>
                                                <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn active">中</button>
                                                <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-circle is-text FontSizeBtn">大</button>
                                            </span>
                                            <button data-v-71bab962="" aria-disabled="false" type="button" class="el-button is-plain is-round LangBtn">
                                                <span class="">
                                                    <svg data-v-71bab962="" class="svg-inline--fa fa-globe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                        <path class="" fill="currentColor" d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6c78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7c10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5c11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4C165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6c-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6c25.5-34.2 45.2-87.7 55.3-151.6H493.4z">
                                                        </path>
                                                    </svg>
                                                    <span data-v-71bab962="">En</span>
                                                </span>
                                            </button>
                                        </li>
                                    </ul>
                                    <div data-v-71bab962="" class="el-divider el-divider--horizontal" role="separator" style="--el-border-style: solid;">
                                    </div>
                                    <div data-v-71bab962="" class="el-row" style="margin-left: -17.5px; margin-right: -17.5px;">
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" href="/Tiss/announcement" class="MenuTitle">最新消息</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/announcement">中心公告</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/video">影音專區</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" aria-current="page" href="/about" class="router-link-active router-link-exact-active MenuTitle">中心介紹</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/Objectives#Objectives">使命、願景</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/mission">中心任務</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/Organization">組織概況</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/BOD">第１屆 董監事</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/CEO">執行長</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/Units">單位介紹</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" href="/Tiss/research" class="MenuTitle">科普專欄</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportMedicine">運動醫學</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportTech">運動科技</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportScience">運動科學</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportsPhysiology">運動生理</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportsPsychology">運動心理</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/physicalTraining">體能訓練</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/sportsNutrition">運動營養</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" href="/Tiss/public_info" class="MenuTitle">公開資訊</a>
                                            <ul data-v-71bab962="" class="MenuList">
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/regulation#regulation">法規</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/procedure#procedure">辦法及要點</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/plan#plan">計畫</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/budget#budget">預算與決算</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/download#download">下載專區</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/purchase#purchase">採購作業實施規章</a>
                                                </li>
                                                <li data-v-71bab962="">
                                                    <a data-v-71bab962="" href="/Tiss/other#other">其他</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div data-v-71bab962="" class="el-col el-col-12 is-guttered" style="padding-right: 17.5px; padding-left: 17.5px;">
                                            <a data-v-71bab962="" aria-current="page" href="/about" class="router-link-active router-link-exact-active MenuTitle">服務信箱</a>
                                        </div>
                                    </div>
                                </div>
                                <ul data-v-71bab962="" class="navbar-nav mb-2 mb-lg-0 d-none d-lg-flex">
                                    <li data-v-71bab962="" class="nav-item dropdown">
                                        @*新修改位置*@
                                        <a data-v-71bab962="" href="/Tiss/announcement" class="router-link-active router-link-exact-active nav-link " id="navbarDropdown1" aria-current="page" role="button" aria-expanded="false">
                                            最新消息
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li><a data-v-71bab962="" class="dropdown-item" href="/Tiss/announcement"><img src="~/Img/favicon.svg" />中心公告</a></li>
                                            <li><a data-v-71bab962="" class="dropdown-item" href="/Tiss/video"><img src="~/Img/favicon.svg" />影音專區</a></li>
                                        </ul>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item dropdown">
                                        <a data-v-71bab962="" href="/Tiss/about" class="router-link-active router-link-exact-active nav-link " id="navbarDropdown2" aria-current="page" role="button" aria-expanded="false">
                                            中心介紹
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/Objectives">
                                                    <img src="~/Img/favicon.svg" />使命、願景
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/mission">
                                                    <img src="~/Img/favicon.svg" />中心任務
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/Organization">
                                                    <img src="~/Img/favicon.svg" />組織概況
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/BOD">
                                                    <img src="~/Img/favicon.svg" />第１屆 董監事
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/CEO">
                                                    <img src="~/Img/favicon.svg" />執行長
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/Units">
                                                    <img src="~/Img/favicon.svg" />單位介紹
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item dropdown">
                                        <a data-v-71bab962="" href="/Tiss/research" class="router-link-active router-link-exact-active nav-link " id="navbarDropdown3" aria-current="page" role="button" aria-expanded="false">
                                            科普專欄
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/sportMedicine">
                                                    <img src="~/Img/favicon.svg" />運動醫學
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/sportTech">
                                                    <img src="~/Img/favicon.svg" />運動科技
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/sportScience">
                                                    <img src="~/Img/favicon.svg" />運動科學
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/sportsPhysiology">
                                                    <img src="~/Img/favicon.svg" />運動生理
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/sportsPsychology">
                                                    <img src="~/Img/favicon.svg" />運動心理
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/physicalTraining">
                                                    <img src="~/Img/favicon.svg" />體能訓練
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/sportsNutrition">
                                                    <img src="~/Img/favicon.svg" />運動營養
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item dropdown">
                                        <a data-v-71bab962="" href="/Tiss/public_info" class="router-link-active router-link-exact-active nav-link " id="navbarDropdown4" aria-current="page" role="button" aria-expanded="false">
                                            公開資訊
                                            <span data-v-71bab962="">
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-down HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z">
                                                    </path>
                                                </svg>
                                                <svg data-v-71bab962="" class="svg-inline--fa fa-chevron-up HoverIcon" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/regulation">
                                                    <img src="~/Img/favicon.svg" />法規
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/procedure">
                                                    <img src="~/Img/favicon.svg" />辦法及要點
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/plan">
                                                    <img src="~/Img/favicon.svg" />計畫
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/budget">
                                                    <img src="~/Img/favicon.svg" />預算與決算
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/download">
                                                    <img src="~/Img/favicon.svg" />下載專區
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/purchase">
                                                    <img src="~/Img/favicon.svg" />採購作業實施規章
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/GenderEquality">
                                                    <img src="~/Img/favicon.svg" />性別平等專區
                                                </a>
                                            </li>
                                            <li>
                                                <a data-v-71bab962="" class="dropdown-item" href="/Tiss/other">
                                                    <img src="~/Img/favicon.svg" />其他
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li data-v-71bab962="" class="nav-item">
                                        <a data-v-71bab962="" href="mailto:service@tiss.org.tw" class="nav-link">服務信箱</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div data-v-71bab962="" class="ChildrenList d-none d-lg-block">
                    <div data-v-71bab962="" class="container-lg">
                        <ul data-v-71bab962="" class="List">
                        </ul>
                    </div>
                </div>
            </header>
            <div data-v-339da53a="" class="container-fluid px-0 mt-header">
                <div data-v-339da53a-s="" class="BasePageLayout">
                    <div class="BasePageBanner">
                        <div class="Mask">
                        </div>
                        <img class="PageBannerItemBg" src="/site/img/about_banner_1.cb027849.jpg" alt="">
                        <div class="container">
                            <div class="Title">
                                <div class="BannerTitle">
                                    About TISS
                                </div>
                                <div class="BannerSubTitle">
                                    <img class="icon" src="/site/img/title_icon_white.5e98ec4e.svg" alt="">中心介紹
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="el-container">
                        <aside class="el-aside">
                            <div class="BaseBreadcrumb d-block d-lg-none">
                                <div class="container">
                                    <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                        <span class="el-breadcrumb__item">
                                            <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home">首頁</a>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                        <span class="el-breadcrumb__item" aria-current="page">
                                            <span class="el-breadcrumb__inner" role="link">中心介紹</span>
                                            <i class="el-icon el-breadcrumb__separator">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                    <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                    </path>
                                                </svg>
                                            </i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="content">
                                <div class="Title">中心介紹</div>
                                <ul class="Menu">
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Objectives#Objectives">使命、願景</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/mission/#Mission">中心任務</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Organization#Organization">組織概況</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/BOD#BOD">第１屆 董監事</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/CEO#CEO">執行長</a>
                                    </li>
                                    <li span="3">
                                        <a class="MenuLink" href="/Tiss/Units#Units">單位介紹</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>
                        <main class="el-main bg-defaultO4">
                            <div class="MainContainer">
                                <div class="BaseBreadcrumb d-none d-lg-block">
                                    <div class="container">
                                        <div class="el-breadcrumb" aria-label="Breadcrumb" role="navigation">
                                            <span class="el-breadcrumb__item">
                                                <a class="el-breadcrumb__inner is-link" role="link" href="/Tiss/Home">首頁</a>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                            <span class="el-breadcrumb__item" aria-current="page">
                                                <span class="el-breadcrumb__inner" role="link">中心介紹</span>
                                                <i class="el-icon el-breadcrumb__separator">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z">
                                                        </path>
                                                    </svg>
                                                </i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="Units">
                                <span id="Units" class="anchor">
                                </span>
                                <div class="Part">
                                    <span id="SSRD" class="anchor">
                                    </span>
                                    <div class="content">
                                        <div class="contentBox">
                                            <div class="SubTitle">
                                                <div class="primary">
                                                    Sports Science
                                                    <br>Research Division
                                                </div>
                                                <div>
                                                    <span class="TitleIcon">
                                                        <i class="fa-solid fa-medal" style="color: #FFD43B;"></i>
                                                    </span>運動科學研究處
                                                </div>
                                            </div>
                                            <div class="Intro">運動科學研究處下分為「運科研究組」、「運科發展組」、「卓越表現組」三組，工作內容包含運動訓練與檢測開發、科技應用、數據分析、技戰術情蒐、運科新知轉譯教學、人才培育等。服務對象橫跨黃金計畫頂尖選手、培訓選手及基層運動。</div>
                                        </div>
                                        <img class="MainImg d-none d-lg-block" src="/site/img/science_img.b213cd61.jpg" alt="">
                                        <img class="MainImg d-block d-lg-none" src="/site/img/science_img_m.bdbb5fd4.jpg" alt="">
                                    </div>
                                </div>
                                <div class="Part">
                                    <span id="STDD" class="anchor">
                                    </span>
                                    <div class="content">
                                        <div class="contentBox">
                                            <div class="SubTitle">
                                                <div class="primary">
                                                    Sports Tech &
                                                    <br>Development Division
                                                </div>
                                                <div>
                                                    <span class="TitleIcon">
                                                        <i class="fa-solid fa-laptop-code" style="color: #b83db4;"></i>
                                                    </span>運動科技與資訊開發處
                                                </div>
                                            </div>
                                            <div class="Intro">
                                                運動科技與資訊開發處分三組，各組掌理事項如下：
                                                <br>創新研發組：國內外運科產品研發及設備升級擴增支援效能。
                                                <br>產學合作組：產學合作、駐點實習合作及促進國際學術交流研究。
                                                <br>資訊科技開發組：建立系統軟體及資料庫系統整合與應用。
                                            </div>
                                        </div>
                                        <img class="MainImg d-none d-lg-block" src="/site/img/dev_img.c85b6705.jpg" alt="">
                                        <img class="MainImg d-block d-lg-none" src="/site/img/dev_img_m.50943982.jpg" alt="">
                                    </div>
                                </div>
                                <div class="Part">
                                    <span id="SMRD" class="anchor">
                                    </span>
                                    <div class="content">
                                        <div class="contentBox">
                                            <div class="SubTitle">
                                                <div class="primary">
                                                    Sports Medicine
                                                    <br>Research Division
                                                </div>
                                                <div>
                                                    <span class="TitleIcon">
                                                        <i class="fa-solid fa-heart-pulse" style="color: #fb0909;"></i>
                                                    </span>運動醫學研究處
                                                </div>
                                            </div>
                                            <div class="Intro">運動醫學研究處致力於研究與建立運動醫學與傷害防護相關檢測，分析運動傷害危險因子，制定運動員臨床治療與傷後回場訓練方針，以及提供傷後增強運動表現指引。並規劃臺灣運動醫學醫師培訓制度，建立臺灣運動醫學醫師人才資料庫。</div>
                                        </div>
                                        <img class="MainImg d-none d-lg-block" src="/site/img/medicine_img.82ed33c3.jpg" alt="">
                                        <img class="MainImg d-block d-lg-none" src="/site/img/medicine_img_m.78b3f113.jpg" alt="">
                                    </div>
                                </div>
                                <div class="Part">
                                    <span id="Admin" class="anchor">
                                    </span>
                                    <div class="content">
                                        <div class="contentBox">
                                            <div class="SubTitle">
                                                <div class="primary">Administration</div>
                                                <div>
                                                    <span class="TitleIcon">
                                                        <i class="fa-solid fa-users" style="color: #74C0FC;"></i>
                                                    </span>行政管理處
                                                </div>
                                            </div>
                                            <div class="Intro">
                                                行政管理處分為五組，職責如下
                                                <br>一、綜合規劃組：
                                                <br>制定計劃、內控制度、評估改善、行銷企劃。
                                                <br>二、總務行政組：
                                                <br>總務、採購、財產、文書、出納、檔案。
                                                <br>三、人資組：
                                                <br>綜理人力資源業務。
                                                <br>四、財會組：
                                                <br>財務會計、預算決算、經費管控。
                                                <br>五、資訊組：
                                                <br>資訊系統、網頁、硬體、資訊安全。
                                            </div>
                                        </div>
                                        <img class="MainImg d-none d-lg-block" src="/site/img/dev_img.c85b6705.jpg" alt="">
                                        <img class="MainImg d-block d-lg-none" src="/site/img/dev_img_m.50943982.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
            </div>
            <div data-v-339da53a="" class="el-backtop GoTop" style="right: 40px; bottom: 40px;">
                <svg data-v-339da53a="" class="svg-inline--fa fa-chevron-up" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path class="" fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z">
                    </path>
                </svg>
            </div>
        </div>
    </div>

    <script>
        $(documnet).reday(function () {
            function toggleDropdown(dropdownId) {
                var dropdownToggle = document.getElementById(dropdownId);
                var dropdownMenu = dropdownToggle.nextElementSibling;

                if (dropdownMenu.classList.contains('show')) {
                    dropdownMenu.classList.remove('show');
                } else {
                    dropdownMenu.classList.add('show');
                }
            }

            document.addEventListener('DOMContentLoaded', function () {
                const links = document.querySelectorAll('a[href^="#"]');

                for (const link of links) {
                    link.addEventListener('click', function (event) {
                        event.preventDefault();

                        const targetID = this.getAttribute('href').substring(1);
                        const targetElement = document.getElementById(targetID);

                        if (targetElement) {
                            window.scrollTo({
                                top: targetElement.getBoundingClientRect().top + window.scrollY - 0, // 根據CSS中的top值調整
                                behavior: 'smooth'
                            });
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>