@*@{
        Layout = "~/Views/Shared/_TissMaster.cshtml";
    }*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="~/bootstrap/js/bootstrap.js"></script>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div style="max-width: 800px; margin: 20px auto; padding: 20px;">
        <h1>新增文章</h1>
        <form id="createVideoForm" action="/Video/CreateNewVideo" method="post">
            <label for="title">標題:</label>
            <input type="text" id="title" name="title" required style="margin-bottom: 10px;"><br>

            <label for="content">內容:</label>
            <textarea id="content" name="content" rows="10" cols="50" required style="margin-bottom: 10px;"></textarea><br>

            <label for="active">資料狀態:</label>
            <input type="checkbox" id="active" name="active" style="margin-bottom: 10px;">啟用<br>

            <label for="page">指定頁面:</label>
            <select id="page" name="page" style="margin-bottom: 10px;">
                <option value="1">最新消息</option>
                <option value="2">中心介紹</option>
                <option value="3">科普專欄</option>
            </select><br>

            <label for="category">分類:</label>
            <select id="category" name="category" style="margin-bottom: 10px;">
                <option value="news">新聞</option>
                <option value="blog">博客</option>
                <option value="updates">更新</option>
            </select><br>
            <label for="Creater">建檔人員：</label>
            <input type="text" id="Creater" name="Creater" style="margin-bottom: 10px;"><br>

            <label for="CreaterDate">建檔日期：</label>
            <input type="date" id="CreaterDate" name="CreaterDate" style="margin-bottom: 10px;"><br>
        </form>
        <button type="submit" class="btn btn-success" form="createVideoForm">提交</button><br>
    </div>
</body>

</html>