<!DOCTYPE html>
<html>
<head>
    <title>TinyMCE Online Editor</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin" />

    <script src="~/TinyMCE/vender/jquery.min.js"></script>
    <link href="~/TinyMCE/vender/semantic.min.css" rel="stylesheet" />
    <script src="~/TinyMCE/vender/semantic.min.js"></script>
    <link href="~/TinyMCE/style.css" rel="stylesheet" />
    <link href="~/TinyMCE/vender/font-awesome.css" rel="stylesheet" />
    <script src="~/TinyMCE/vender/clipboard.min.js"></script>
    <script src="~/TinyMCE/vender/puli-util.clipboard.js"></script>
    <script src="~/TinyMCE/copy-init.js"></script>
    <link href="~/TinyMCE/images/favicon-16x16.png" rel="icon" sizes="16x16" />
    <link href="~/TinyMCE/images/favicon-32x32.png" rel="icon" sizes="32x32" />
    <link href="~/TinyMCE/images/favicon-48x48.png" rel="icon" sizes="48x48" />
    <link href="~/TinyMCE/images/favicon-96x96.png" rel="icon" sizes="96x96" />
    <script src="~/TinyMCE/string-utils.js"></script>
    <script src="~/TinyMCE/vender/FileSaver.js"></script>
    <script src="~/TinyMCE/input-file-loader.js"></script>
    <script src="~/TinyMCE/url-parameter-utils.js"></script>
    <script src="~/TinyMCE/script.js"></script>
    <script src="~/TinyMCE/vender/tinymce-4/tinymce.min.js"></script>

</head>
<body>
    <form class="ui form">
        <textarea id="file_content">Content</textarea>
        <div class="ui four column grid">
            <div class="four wide column">
            </div>
            <div class="seven wide column">
                <div class="ui action input">
                    <div type="submit" class="ui right labeled icon button" id="save_button">
                        SAVE
                        <i class="save icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        tinymce.init({
            selector: '#file_content',
            language: 'zh_TW',
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen textcolor colorpicker',
                'insertdatetime media table contextmenu paste code hr pagebreak nonbreaking'
            ],
            toolbar: ['newdocument preview fullscreen code print searchreplace selectall | bold italic underline strikethrough superscript subscript removeformat forecolor backcolor | alignleft aligncenter alignright alignjustify',
            ],
        });
    </script>
</body>
</html>