<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container mt-5">
        <h2>選擇文件</h2>
        <select class="form-control" id="documentSelect">
            <option value="">請選擇文件</option>
            @foreach (var item in ViewBag.Documents)
            {
                <option>@item</option>
            }
        </select>
        <nav aria-label="">
            <ul class="pagination">

                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>

            </ul>
        </nav>
    </div>
</body>
</html>