<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <p>@(Resources.Resource.ABOUT_TISS)</p>

    <p>
        @using(Html.BeginForm("Navbar","Home"))
        { 
            @(Html.DropDownList("MyLanguage",
            new List<SelectListItem>()
            { 
                new SelectListItem(){Text = "中文", Value ="zh-TW"},
                new SelectListItem(){Text = "英文", Value ="en-US"},
                new SelectListItem(){Text = "日文", Value ="ja-JP"}
            })
            )
            <input type="submit" value="變更語系"/>
        }
    </p>
</body>
</html>
