@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.svg">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <title>國家運動科學中心</title>

</head>
<body>
    <div id="carouselExample" class="carousel slide" data-ride="carousel" style="height: 520px;">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/site/img/banner_home.e4676130.jpg" class="d-block w-100" alt="Taiwan Institute of Sports Science">
                <div class="carousel-caption d-none d-md-block">
                    <div>Taiwan Institute of Sports Science</div>
                    <h1 class="main-title">國家運動科學中心</h1>
                    <p class="content">推動運動科學研究及應用<br>提升國際競技水準與運動產業競爭力</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/storage/media/1211-2.jpg" alt="Second Slide">
                <div class="carousel-caption d-none d-md-block">
                    <div>第二張圖片的標題</div>
                    <h1 class="main-title">第二張圖片的副標題</h1>
                    <p class="content">第二張圖片的描述</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/storage/media/影音專區/董事長人物專訪.jpg" alt="Third Slide">
                <div class="carousel-caption d-none d-md-block">
                    <div>第三張圖片的標題</div>
                    <h1 class="main-title">第三張圖片的副標題</h1>
                    <p class="content">第三張圖片的描述</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <ol class="carousel-indicators">
            <li data-target="#carouselExample" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExample" data-slide-to="1"></li>
            <li data-target="#carouselExample" data-slide-to="2"></li>
        </ol>
    </div>
    <script>
        $(document).ready(function () {
            $('#carouselExample').carousel({
                interval: 2000 // 5秒
            });
        });
    </script>
</body>
</html>