@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.svg">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>國家運動科學中心</title>

</head>
<body>
    <div class="container">
        <h2>公告頁面內容</h2>
        <hr />

        @foreach (var item in Model)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">@item.TextContent</h5>
                    @if (item.ImageContent != null)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ImageContent))" class="card-img-top" alt="...">
                    }
                    <!-- 其他欄位的顯示 -->
                </div>
            </div>
        }

        <!-- 分頁控制 -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                        <a class="page-link" href="javascript:void(0);" onclick="loadPage(@i, @ViewBag.PageSize)">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>

    <script>
        // JavaScript 函式來加載特定分頁的資料
        function loadPage(page, pageSize) {
        var url = window.location.href.split('?')[0]; // 獲取當前 URL，去掉 query string 部分
        window.location.href = url + '?page=' + page + '&pageSize=' + pageSize;
    }
    </script>
</body>
</html>