@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.svg">
    <title>國家運動科學中心</title>
</head>
<body>
    <div id="app">
        <header class="layout">
            <div class="logoNav">
                <div class="container">
                    <a href="/" class="mainLogo">
                        <img src="~/Img/HomeLogo.svg" alt="TISS logo">
                    </a>
                    <nav class="d-lg-flex d-none">
                        <ul class="ToolList">
                            <li>
                                <button type="button" class="el-button is-plain is-circle is-text FontSizeBtn">小</button>
                                <button type="button" class="el-button is-plain is-circle is-text FontSizeBtn active">中</button>
                                <button type="button" class="el-button is-plain is-circle is-text FontSizeBtn">大</button>
                            </li>
                            <li>
                                <button type="button" class="el-button is-plain is-round LangBtn">
                                    <span>
                                        <svg class="svg-inline--fa fa-globe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path fill="currentColor" d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6 78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7 10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5 11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4 165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6 25.5-34.2 45.2-87.7 55.3-151.6H493.4z"></path>
                                        </svg>
                                        <span>En</span>
                                    </span>
                                </button>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="menuNav">
                <div class="container-lg">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-label="Toggler" value="toggler">
                            <svg class="svg-inline--fa fa-bars" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                <path fill="currentColor" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                            </svg>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <div class="d-block d-lg-none">
                                <ul class="ToolList">
                                    <li>
                                        <span>
                                            <button type="button" class="el-button is-plain is-circle is-text FontSizeBtn">小</button>
                                            <button type="button" class="el-button is-plain is-circle is-text FontSizeBtn active">中</button>
                                            <button type="button" class="el-button is-plain is-circle is-text FontSizeBtn">大</button>
                                        </span>
                                        <button type="button" class="el-button is-plain is-round LangBtn">
                                            <span>
                                                <svg class="svg-inline--fa fa-globe" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="globe" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                                    <path fill="currentColor" d="M352 256c0 22.2-1.2 43.6-3.3 64H163.3c-2.2-20.4-3.3-41.8-3.3-64s1.2-43.6 3.3-64H348.7c2.2 20.4 3.3 41.8 3.3 64zm28.8-64H503.9c5.3 20.5 8.1 41.9 8.1 64s-2.8 43.5-8.1 64H380.8c2.1-20.6 3.2-42 3.2-64s-1.1-43.4-3.2-64zm112.6-32H376.7c-10-63.9-29.8-117.4-55.3-151.6 78.3 20.7 142 77.5 171.9 151.6zm-149.1 0H167.7c6.1-36.4 15.5-68.6 27-94.7 10.5-23.6 22.2-40.7 33.5-51.5C239.4 3.2 248.7 0 256 0s16.6 3.2 27.8 13.8c11.3 10.8 23 27.9 33.5 51.5 11.6 26 20.9 58.2 27 94.7zm-209 0H18.6C48.6 85.9 112.2 29.1 190.6 8.4 165.1 42.6 145.3 96.1 135.3 160zM8.1 192H131.2c-2.1 20.6-3.2 42-3.2 64s1.1 43.4 3.2 64H8.1C2.8 299.5 0 278.1 0 256s2.8-43.5 8.1-64zM194.7 446.6c-11.6-26-20.9-58.2-27-94.6H344.3c-6.1 36.4-15.5 68.6-27 94.6-10.5 23.6-22.2 40.7-33.5 51.5C272.6 508.8 263.3 512 256 512s-16.6-3.2-27.8-13.8c-11.3-10.8-23-27.9-33.5-51.5zM135.3 352c10 63.9 29.8 117.4 55.3 151.6C112.2 482.9 48.6 426.1 18.6 352H135.3zm358.1 0c-30 74.1-93.6 130.9-171.9 151.6 25.5-34.2 45.2-87.7 55.3-151.6H493.4z"></path>
                                                </svg>
                                                <span>En</span>
                                            </span>
                                        </button>
                                    </li>
                                </ul>
                                <div class="el-divider el-divider--horizontal" role="separator"></div>
                                <div class="el-row">
                                    <div class="el-col el-col-12 is-guttered">
                                        <a href="/Tiss/announcement" class="MenuTitle">最新消息</a>
                                        <ul class="MenuList">
                                            <li><a href="/Tiss/announcement">中心公告</a></li>
                                            <li><a href="/Tiss/video">影音專區</a></li>
                                        </ul>
                                    </div>
                                    <div class="el-col el-col-12 is-guttered">
                                        <a href="/Tiss/about" class="MenuTitle">中心介紹</a>
                                        <ul class="MenuList">
                                            <li><a href="/about#Objectives">使命、願景</a></li>
                                            <li><a href="/about#mission">中心任務</a></li>
                                            <li><a href="/about#Organization">組織概況</a></li>
                                            <li><a href="/about#BOD">第１屆 董監事</a></li>
                                            <li><a href="/about#CEO">執行長</a></li>
                                            <li><a href="/about#Units">單位介紹</a></li>
                                        </ul>
                                    </div>
                                    <div class="el-col el-col-12 is-guttered">
                                        <a href="/Tiss/research" class="MenuTitle">科普專欄</a>
                                        <ul class="MenuList">
                                            <li><a href="/research#sport-science-research">運動科學研究</a></li>
                                            <li><a href="/research#sport-tech-and-information">運動科技與資訊開發</a></li>
                                            <li><a href="/research#sport-medicine-research">運動醫學研究</a></li>
                                        </ul>
                                    </div>
                                    <div class="el-col el-col-12 is-guttered">
                                        <a href="/Tiss/public_info" class="MenuTitle">公開資訊</a>
                                        <ul class="MenuList">
                                            <li><a href="/public-info#regulation">法規</a></li>
                                            <li><a href="/public-info#procedure">辦法及要點</a></li>
                                            <li><a href="/public-info#plan">計畫</a></li>
                                            <li><a href="/public-info#budget">預算與決算</a></li>
                                            <li><a href="/public-info#download">下載專區</a></li>
                                            <li><a href="/public-info#purchase">採購作業實施規章</a></li>
                                            <li><a href="/public-info#other">其他</a></li>
                                        </ul>
                                    </div>
                                    <div class="el-col el-col-12 is-guttered">
                                        <a href="/" class="MenuTitle">服務信箱</a>
                                    </div>
                                </div>
                            </div>
                            <ul class="navbar-nav mb-2 mb-lg-0 d-none d-lg-flex">
                                <li class="nav-item"><a href="/Tiss/announcement" class="nav-link">最新消息</a></li>
                                <li class="nav-item"><a href="/Tiss/announcement" class="nav-link">中心介紹</a></li>
                                <li class="nav-item"><a href="/Tiss/research" class="nav-link">科普專欄</a></li>
                                <li class="nav-item"><a href="/Tiss/public_info" class="nav-link">公開資訊</a></li>
                                <li class="nav-item"><a href="mailto:service@tiss.org.tw" class="nav-link">服務信箱</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="ChildrenList d-none d-lg-block dropdown-item">
                <div class="container-lg">
                    <ul class="List">
                        <li><a class="ItemLink" href="/Tiss/announcement">中心公告</a></li>
                        <li><a class="ItemLink" href="/Tiss/video">影音專區</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div class="container-fluid px-0 mt-header">
            <div class="Home">
                <div class="SectionBanner">
                    <div class="el-carousel el-carousel--horizontal">
                        <div class="el-carousel__container" style="height: 520px;">
                            <button type="button" class="el-carousel__arrow el-carousel__arrow--left" aria-label="btn">
                                <i class="el-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                        <path fill="currentColor" d="M609.408 149.376 277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0 30.592 30.592 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.592 30.592 0 0 0 0-42.688 29.12 29.12 0 0 0-41.728 0z"></path>
                                    </svg>
                                </i>
                            </button>
                            <button type="button" class="el-carousel__arrow el-carousel__arrow--right" aria-label="btn">
                                <i class="el-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                        <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z"></path>
                                    </svg>
                                </i>
                            </button>
                            <div class="el-carousel__item is-active is-animating" style="transform: translateX(0px) scale(1);">
                                <div class="SectionBannerItem">
                                    <img class="SectionBannerItemBg" src="~/Img/banner_home.jpg" alt="">
                                    <div class="SectionBannerItemContent">
                                        <div>Taiwan Institute of Sports Science</div>
                                        <h1 class="main-title">國家運動科學中心</h1>
                                        <p class="content">推動運動科學研究及應用<br>提升國際競技水準與運動產業競爭力</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                            <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                                <button class="el-carousel__button" aria-label="btn"></button>
                            </li>
                        </ul>
                    </div>
                    <div class="ScrollHintBar"></div>
                </div>
                <div id="about" class="SectionAbout">
                    <div class="container">
                        <div class="el-row row-reverse">
                            <div class="el-col el-col-24 el-col-sm-24 el-col-md-12">
                                <div class="Content">
                                    <div>
                                        <div class="Title">
                                            <div class="SectionTitle">About TISS</div>
                                            <div class="SectionSubTitle">
                                                <img class="icon" src="~/Img/title_icon.svg" alt="">中心簡介
                                            </div>
                                        </div>
                                        <p>推動運動科學研究及應用，<br>提升國際運動競爭力</p>
                                        <p class="SubIntro">TO PROMOTE OUR RESEARCH ACHIEVEMENTS IN SPORTS SCIENCE AND TO ENHANCE OUR INTERNATIONAL ATHLETIC COMPETITIVENESS</p>
                                    </div>
                                    <div style="width: 225px;">
                                        <a href="/about" class="">
                                            <button type="button" class="el-button BaseBtn w-100 black" aria-label="btn">
                                                <span>
                                                    了解更多
                                                    <span class="right-icon">
                                                        <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                            <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                        </svg>
                                                    </span>
                                                </span>
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="el-col el-col-24 el-col-sm-24 el-col-md-12 AboutImg">
                                <img src="~/Img/about_img_1.jpg" alt="about tiss">
                            </div>
                        </div>
                    </div>
                </div>
                <div id="news" class="SectionNews">
                    <div class="container">
                        <div class="el-row">
                            <div class="el-col el-col-12 is-guttered d-none d-lg-block">
                                <div class="SectionHeader">
                                    <div class="Title">
                                        <div class="SectionTitle">News</div>
                                        <div class="SectionSubTitle">
                                            <img class="icon" src="~/Img/title_icon.svg" alt="">最新消息
                                        </div>
                                    </div>
                                </div>
                                <a href="/announcement/gcnu9eixoou1z2xum5js" class="">
                                    <div class="NewsItemBox headline">
                                        <div class="NewsItemImg">
                                            <img src="~/Img/recruit_img.d15a2d7a.jpg" alt="">
                                            <div class="tag">中心訊息</div>
                                            <div class="Mask">閱讀更多</div>
                                        </div>
                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">國家運動科學中心「114年度委託研究計畫」徵求公告</span>
                                        <div class="NewsItemContent">
                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">國家運動科學中心「114年度委託研究計畫」徵求公告</span>
                                        </div>
                                        <div class="NewsItemInfo">
                                            <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">委託研究計畫</span></span>
                                            <span>2024/06/14</span>
                                        </div>
                                    </div>
                                </a>
                                <div class="mt-5" style="width: 225px;">
                                    <a href="/Tiss/announcement" class="">
                                        <button type="button" class="el-button BaseBtn w-100 black" aria-label="btn">
                                            <span>
                                                全部文章
                                                <span class="right-icon">
                                                    <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div class="el-col el-col-24 el-col-xs-24 el-col-md-12 is-guttered">
                                <div class="SectionHeader">
                                    <div class="Title">
                                        <div class="d-block d-lg-none">
                                            <div class="SectionTitle">News</div>
                                            <div class="SectionSubTitle">
                                                <img class="icon" src="~/Img/title_icon.svg" alt="">最新消息
                                            </div>
                                        </div>
                                        <div class="el-row" style="margin-left: -10px; margin-right: -10px; margin-top: 30px;">
                                            <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                <button type="button" class="el-button is-round w-100 NewsCategoryBtn active" aria-label="btn">
                                                    <span>所有類別</span>
                                                </button>
                                            </div>
                                            <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                <button type="button" class="el-button is-round w-100 NewsCategoryBtn" aria-label="btn">
                                                    <span>新聞發佈</span>
                                                </button>
                                            </div>
                                            <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                <button type="button" class="el-button is-round w-100 NewsCategoryBtn" aria-label="btn">
                                                    <span>中心訊息</span>
                                                </button>
                                            </div>
                                            <div class="el-col el-col-24 el-col-xs-12 el-col-md-6 is-guttered" style="padding-right: 10px; padding-left: 10px;">
                                                <button type="button" class="el-button is-round w-100 NewsCategoryBtn" aria-label="btn">
                                                    <span>徵才招募</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="el-row d-none d-lg-flex" style="margin-left: -12px; margin-right: -12px;">
                                    <div class="el-col el-col-24 el-col-sm-20 el-col-md-12 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                        <a href="/announcement/kokl89umg61jhugsuztz" class="">
                                            <div class="NewsItemBox">
                                                <div class="NewsItemImg">
                                                    <img src="~/Img/3E1A5528_0.jpg" alt="">
                                                    <div class="tag">中心公告</div>
                                                    <div class="Mask">閱讀更多</div>
                                                </div>
                                                <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">運科中心前進放視大賞</span>
                                                <div class="NewsItemContent">
                                                    <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;"></span>
                                                </div>
                                                <div class="NewsItemInfo">
                                                    <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">國家運動科學中心</span></span>
                                                    <span>2024/05/30</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="el-col el-col-24 el-col-sm-20 el-col-md-12 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                        <a href="/announcement/rve5upbrnttbgsb822qn" class="">
                                            <div class="NewsItemBox">
                                                <div class="NewsItemImg">
                                                    <img src="~/Img/2025_World_Masters_Games_logo.jpg" alt="">
                                                    <div class="tag">中心公告</div>
                                                    <div class="Mask">閱讀更多</div>
                                                </div>
                                                <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">2025雙北世界壯年運動會</span>
                                                <div class="NewsItemContent">
                                                    <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">2025雙北世界壯年運動會</span>
                                                </div>
                                                <div class="NewsItemInfo">
                                                    <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">相關連結</span></span>
                                                    <span>2024/05/27</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="el-col el-col-24 el-col-sm-20 el-col-md-12 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                        <a href="/announcement/0eoj8lljwclk9isnvsws" class="">
                                            <div class="NewsItemBox">
                                                <div class="NewsItemImg">
                                                    <img src="~/Img/0427GOGOSportTech3.jpg" alt="">
                                                    <div class="tag">中心公告</div>
                                                    <div class="Mask">閱讀更多</div>
                                                </div>
                                                <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">113/04/27 運科中心參與「GoGo Sport Tech運動科技論壇」</span>
                                                <div class="NewsItemContent">
                                                    <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;"></span>
                                                </div>
                                                <div class="NewsItemInfo">
                                                    <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">國家運動科學中心</span></span>
                                                    <span>2024/04/27</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="el-col el-col-24 el-col-sm-20 el-col-md-12 is-guttered NewsItem" style="padding-right: 12px; padding-left: 12px;">
                                        <a href="/announcement/qzakxqotjf44eod9kuwu" class="">
                                            <div class="NewsItemBox">
                                                <div class="NewsItemImg">
                                                    <img src="~/Img/recruit_img.d15a2d7a.jpg" alt="">
                                                    <div class="tag">中心訊息</div>
                                                    <div class="Mask">閱讀更多</div>
                                                </div>
                                                <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">政府網站服務管理規範</span>
                                                <div class="NewsItemContent">
                                                    <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;"></span>
                                                </div>
                                                <div class="NewsItemInfo">
                                                    <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">運動資訊</span></span>
                                                    <span>2024/04/01</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="d-block d-lg-none">
                                    <div class="el-carousel el-carousel--horizontal" style="margin-bottom: 30px;">
                                        <div class="el-carousel__container" style="height: 325px;">
                                            <div class="el-carousel__item is-active is-animating" style="transform: translateX(0px) scale(1);">
                                                <a href="/announcement/kokl89umg61jhugsuztz" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/Img/3E1A5528_0.jpg" alt="">
                                                            <div class="tag">中心公告</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">運科中心前進放視大賞</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;"></span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">國家運動科學中心</span></span>
                                                            <span>2024/05/30</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="el-carousel__item" style="transform: translateX(0px) scale(1);">
                                                <a href="/announcement/rve5upbrnttbgsb822qn" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/Img/2025_World_Masters_Games_logo.jpg" alt="">
                                                            <div class="tag">中心公告</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">2025雙北世界壯年運動會</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;">2025雙北世界壯年運動會</span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">相關連結</span></span>
                                                            <span>2024/05/27</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="el-carousel__item" style="transform: translateX(0px) scale(1);">
                                                <a href="/announcement/0eoj8lljwclk9isnvsws" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/Img/0427GOGOSportTech3.jpg" alt="">
                                                            <div class="tag">中心公告</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">113/04/27 運科中心參與「GoGo Sport Tech運動科技論壇」</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;"></span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">國家運動科學中心</span></span>
                                                            <span>2024/04/27</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="el-carousel__item" style="transform: translateX(0px) scale(1);">
                                                <a href="/announcement/qzakxqotjf44eod9kuwu" class="">
                                                    <div class="NewsItemBox">
                                                        <div class="NewsItemImg">
                                                            <img src="~/Img/recruit_img.d15a2d7a.jpg" alt="">
                                                            <div class="tag">中心訊息</div>
                                                            <div class="Mask">閱讀更多</div>
                                                        </div>
                                                        <span class="el-text is-line-clamp NewsItemTitle" style="-webkit-line-clamp: 2;">政府網站服務管理規範</span>
                                                        <div class="NewsItemContent">
                                                            <span class="el-text is-line-clamp" style="-webkit-line-clamp: 2;"></span>
                                                        </div>
                                                        <div class="NewsItemInfo">
                                                            <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">運動資訊</span></span>
                                                            <span>2024/04/01</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="el-row">
                                        <div class="el-col el-col-12">
                                            <a href="/Tiss/announcement" class="w-100">
                                                <button type="button" class="el-button BaseBtn w-100 black" aria-label="btn">
                                                    <span>
                                                        全部文章
                                                        <span class="right-icon">
                                                            <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                                <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                            </svg>
                                                        </span>
                                                    </span>
                                                </button>
                                            </a>
                                        </div>
                                        <div class="el-col el-col-12">
                                            <div class="NewsCarouselArrowBtns">
                                                <button type="button" class="el-button" aria-label="btn">
                                                    <span>
                                                        <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                            <path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                                <button type="button" class="el-button" aria-label="btn">
                                                    <span>
                                                        <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                            <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="video" class="SectionVideo">
                    <div class="container">
                        <div class="SectionHeader">
                            <div class="Title">
                                <div class="SectionTitle">Video</div>
                                <div class="SectionSubTitle">
                                    <img class="icon" src="~/Img/title_icon.svg" alt="">影音專區
                                </div>
                            </div>
                        </div>
                        <div class="d-none d-lg-block">
                            <div class="VideoCarousel">
                                <button type="button" class="el-button is-circle ArrowBtn Left" aria-label="btn">
                                    <span>
                                        <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                            <path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5 45.3 0l-192 192z"></path>
                                        </svg>
                                    </span>
                                </button>
                                <button type="button" class="el-button is-circle ArrowBtn Right" aria-label="btn">
                                    <span>
                                        <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                            <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                        </svg>
                                    </span>
                                </button>
                                <div class="el-row" style="margin-left: -12px; margin-right: -12px;">
                                    <div class="el-col el-col-12 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                        <a href="/video/91aqylmyvbuzd53akmqk" class="">
                                            <div class="VideoCarouselContent">
                                                <div class="VideoCarouselContentBox">
                                                    <div class="Tag">
                                                        <span>中心成果</span>
                                                    </div>
                                                    <span class="el-text is-line-clamp Title" style="-webkit-line-clamp: 2;">人物專訪-國家運動科學中心吳誠文董事長</span>
                                                    <span class="el-text is-line-clamp Content" style="-webkit-line-clamp: 3;">
                                                        「從運動科學到運動科技，是運動文化融入社會文明的演化進程」
                                                        國家運動科學中心吳誠文董事長分享如何透過運動文化融入社會，促使國家運動科學中心來推動健康臺灣願景!
                                                    </span>
                                                    <div class="Info">
                                                        <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">人物專訪</span></span>
                                                        <span>2024/05/20</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="el-col el-col-12 is-guttered" style="padding-right: 12px; padding-left: 12px;">
                                        <div class="VideoCarouselVideo">
                                            <div class="VideoCarouselVideoBox">
                                                <div class="Video">
                                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z81Zy5P_4Gk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                                </div>
                                            </div>
                                            <div class="VideoCarouselSpot">
                                                <ul class="SpotList">
                                                    <li class="SpotItem"><button class="Spot active" aria-label="btn"></button></li>
                                                    <li class="SpotItem"><button class="Spot" aria-label="btn"></button></li>
                                                    <li class="SpotItem"><button class="Spot" aria-label="btn"></button></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="BottomRow">
                                <div style="width: 225px; margin: auto;">
                                    <a href="/video" class="">
                                        <button type="button" class="el-button BaseBtn w-100 white" aria-label="btn">
                                            <span>
                                                所有影音
                                                <span class="right-icon">
                                                    <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="el-carousel el-carousel--horizontal VideoCarouselMobile" style="margin-bottom: 30px;">
                                <div class="el-carousel__container" style="height: 520px;">
                                    <div class="el-carousel__item is-active is-animating" style="transform: translateX(0px) scale(1);">
                                        <a href="/video/91aqylmyvbuzd53akmqk" class="">
                                            <div class="VideoCarouselMobileContent">
                                                <div class="VideoCarouselMobileContentBox">
                                                    <div class="Tag">
                                                        <span>中心成果</span>
                                                    </div>
                                                    <div class="Title">人物專訪-國家運動科學中心吳誠文董事長</div>
                                                    <span class="el-text is-line-clamp Content" style="-webkit-line-clamp: 3;">
                                                        「從運動科學到運動科技，是運動文化融入社會文明的演化進程」
                                                        國家運動科學中心吳誠文董事長分享如何透過運動文化融入社會，促使國家運動科學中心來推動健康臺灣願景!
                                                    </span>
                                                    <div class="Info">
                                                        <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">人物專訪</span></span>
                                                        <span>2024/05/20</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="VideoCarouselMobileVideo">
                                            <div class="Video">
                                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z81Zy5P_4Gk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="el-carousel__item" style="transform: translateX(0px) scale(1);">
                                        <a href="/video/91aqylmyvbuzd53akmqk" class="">
                                            <div class="VideoCarouselMobileContent">
                                                <div class="VideoCarouselMobileContentBox">
                                                    <div class="Tag">
                                                        <span>中心成果</span>
                                                    </div>
                                                    <div class="Title">人物專訪-國家運動科學中心吳誠文董事長</div>
                                                    <span class="el-text is-line-clamp Content" style="-webkit-line-clamp: 3;">
                                                        「從運動科學到運動科技，是運動文化融入社會文明的演化進程」
                                                        國家運動科學中心吳誠文董事長分享如何透過運動文化融入社會，促使國家運動科學中心來推動健康臺灣願景!
                                                    </span>
                                                    <div class="Info">
                                                        <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">人物專訪</span></span>
                                                        <span>2024/05/20</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="VideoCarouselMobileVideo">
                                            <div class="Video">
                                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z81Zy5P_4Gk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="el-carousel__item" style="transform: translateX(0px) scale(1);">
                                        <a href="/video/91aqylmyvbuzd53akmqk" class="">
                                            <div class="VideoCarouselMobileContent">
                                                <div class="VideoCarouselMobileContentBox">
                                                    <div class="Tag">
                                                        <span>中心成果</span>
                                                    </div>
                                                    <div class="Title">人物專訪-國家運動科學中心吳誠文董事長</div>
                                                    <span class="el-text is-line-clamp Content" style="-webkit-line-clamp: 3;">
                                                        「從運動科學到運動科技，是運動文化融入社會文明的演化進程」
                                                        國家運動科學中心吳誠文董事長分享如何透過運動文化融入社會，促使國家運動科學中心來推動健康臺灣願景!
                                                    </span>
                                                    <div class="Info">
                                                        <span class="el-tag el-tag--plain is-round"><span class="el-tag__content">人物專訪</span></span>
                                                        <span>2024/05/20</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                        <div class="VideoCarouselMobileVideo">
                                            <div class="Video">
                                                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z81Zy5P_4Gk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                                    <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                                        <button class="el-carousel__button" aria-label="btn"></button>
                                    </li>
                                    <li class="el-carousel__indicator el-carousel__indicator--horizontal">
                                        <button class="el-carousel__button" aria-label="btn"></button>
                                    </li>
                                    <li class="el-carousel__indicator el-carousel__indicator--horizontal">
                                        <button class="el-carousel__button" aria-label="btn"></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="el-row">
                                <div class="el-col el-col-12">
                                    <a href="/video" class="w-100">
                                        <button type="button" class="el-button BaseBtn w-100 white" aria-label="btn">
                                            <span>
                                                全部文章
                                                <span class="right-icon">
                                                    <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                        <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                    </svg>
                                                </span>
                                            </span>
                                        </button>
                                    </a>
                                </div>
                                <div class="el-col el-col-12">
                                    <div class="VideoCarouselMobileArrowBtns">
                                        <button type="button" class="el-button" aria-label="btn">
                                            <span>
                                                <svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                    <path fill="currentColor" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5 45.3 0l-192 192z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                        <button type="button" class="el-button" aria-label="btn">
                                            <span>
                                                <svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                                    <path fill="currentColor" d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5 12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="links" class="SectionLinks">
                    <div class="container">
                        <div class="SectionHeader">
                            <div class="Title">
                                <div class="SectionTitle">Links</div>
                                <div class="SectionSubTitle">
                                    <img class="icon" src="~/Img/title_icon.svg" alt="">常用連結
                                </div>
                            </div>
                        </div>
                        <div class="SectionLinksList">
                            <div class="el-carousel el-carousel--horizontal d-none d-md-block">
                                <div class="el-carousel__container" style="height: 200px; overflow: hidden;">
                                    <div class="el-carousel__item is-active is-animating" style="transform: translateX(0px) scale(1); height: 200px;">
                                        <div class="SectionLinksItem">
                                            <div class="el-row" style="margin-left: -10px; margin-right: -10px;">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered linksItem" style="padding-right: 10px; padding-left: 10px;">
                                                    <a href="https://www.sa.gov.tw/">
                                                        <img src="~/Img/links_logo.b6ae967e.svg" alt="教育部體育署">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                                    <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                                        <button class="el-carousel__button" aria-label="btn"></button>
                                    </li>
                                </ul>
                            </div>
                            <div class="el-carousel el-carousel--horizontal d-block d-md-none">
                                <div class="el-carousel__container" style="height: 0px; overflow: hidden;">
                                    <button type="button" class="el-carousel__arrow el-carousel__arrow--left" aria-label="btn" style="display: none;">
                                        <i class="el-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                <path fill="currentColor" d="M609.408 149.376 277.76 489.6a32 32 0 0 0 0 44.672l331.648 340.352a29.12 29.12 0 0 0 41.728 0 30.592 30.592 0 0 0 0-42.752L339.264 511.936l311.872-319.872a30.592 30.592 0 0 0 0-42.688 29.12 29.12 0 0 0-41.728 0z"></path>
                                            </svg>
                                        </i>
                                    </button>
                                    <button type="button" class="el-carousel__arrow el-carousel__arrow--right" aria-label="btn" style="display: none;">
                                        <i class="el-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024">
                                                <path fill="currentColor" d="M340.864 149.312a30.592 30.592 0 0 0 0 42.752L652.736 512 340.864 831.872a30.592 30.592 0 0 0 0 42.752 29.12 29.12 0 0 0 41.728 0L714.24 534.336a32 32 0 0 0 0-44.672L382.592 149.376a29.12 29.12 0 0 0-41.728 0z"></path>
                                            </svg>
                                        </i>
                                    </button>
                                    <div class="el-carousel__item is-active is-animating" style="transform: translateX(0px) scale(1); height: 70px;">
                                        <div class="SectionLinksItem">
                                            <div class="el-row" style="margin-left: -10px; margin-right: -10px;">
                                                <div class="el-col el-col-24 el-col-xs-12 el-col-sm-6 is-guttered linksItem" style="padding-right: 10px; padding-left: 10px;">
                                                    <a href="https://www.sa.gov.tw/">
                                                        <img src="~/Img/links_logo.b6ae967e.svg" alt="教育部體育署">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="el-carousel__indicators el-carousel__indicators--horizontal">
                                    <li class="el-carousel__indicator el-carousel__indicator--horizontal is-active">
                                        <button class="el-carousel__button" aria-label="btn"></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="FooterDecoration"></div>
                <div class="container">
                    <div class="FooterContent">
                        <div class="LeftFooterContent">
                            <div class="Info">
                                <img class="logo" src="~/Img/HomeLogo.svg" alt="">
                                <ul class="InfoList">
                                    <li><span class="label">地址</span><span>813高雄市左營區世運大道399號</span></li>
                                    <li><span class="label">服務電話</span><span>07-586-1193</span></li>
                                    <li><span class="label">服務時間</span><span>週一至週五08:30~17:30</span></li>
                                    <li><span class="label">服務信箱</span><span><a href="mailto:service@tiss.org.tw">國家運動科學中心服務信箱</a></span></li>
                                </ul>
                            </div>
                            <ul class="SocialList d-none d-lg-flex">
                                <li>
                                    <div class="SocialLink">
                                        <svg class="svg-inline--fa fa-facebook-f" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                            <path fill="currentColor" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"></path>
                                        </svg>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="RightFooterContent">
                            <div class="el-row" style="margin-left: -7.5px; margin-right: -7.5px; width: 100%;">
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/announcement" class="MenuTitle">最新消息</a>
                                    <ul class="MenuList">
                                        <li><a href="/Tiss/announcement">中心公告</a></li>
                                        <li><a href="/Tiss/video">影音專區</a></li>
                                    </ul>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/about" class="MenuTitle">中心介紹</a>
                                    <ul class="MenuList">
                                        <li><a href="/about#Objectives">使命、願景</a></li>
                                        <li><a href="/about#mission">中心任務</a></li>
                                        <li><a href="/about#Organization">組織概況</a></li>
                                        <li><a href="/about#BOD">第１屆 董監事</a></li>
                                        <li><a href="/about#CEO">執行長</a></li>
                                        <li><a href="/about#Units">單位介紹</a></li>
                                    </ul>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/research" class="MenuTitle">科普專欄</a>
                                    <ul class="MenuList">
                                        <li><a href="/research#sport-science-research">運動科學研究</a></li>
                                        <li><a href="/research#sport-tech-and-information">運動科技與資訊開發</a></li>
                                        <li><a href="/research#sport-medicine-research">運動醫學研究</a></li>
                                    </ul>
                                </div>
                                <div class="el-col el-col-24 el-col-xs-8 el-col-sm-4 is-guttered" style="padding-right: 7.5px; padding-left: 7.5px;">
                                    <a href="/Tiss/public_info" class="MenuTitle">公開資訊</a>
                                    <ul class="MenuList">
                                        <li><a href="/public-info#regulation">法規</a></li>
                                        <li><a href="/public-info#procedure">辦法及要點</a></li>
                                        <li><a href="/public-info#plan">計畫</a></li>
                                        <li><a href="/public-info#budget">預算與決算</a></li>
                                        <li><a href="/public-info#download">下載專區</a></li>
                                        <li><a href="/public-info#purchase">採購作業實施規章</a></li>
                                        <li><a href="/public-info#other">其他</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="SocialList d-block d-lg-none">
                                <li>
                                    <div class="SocialLink">
                                        <svg class="svg-inline--fa fa-facebook-f" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                                            <path fill="currentColor" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"></path>
                                        </svg>
                                    </div>
                                </li>
                            </ul>
                            <div class="d-flex w-100"><span>本網站建議使用 Microsoft Edge / Firefox / Chrome 瀏覽器，最佳瀏覽解析 1920×1080</span></div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="container">Copyright © 國家運動科學中心 All Rights Reserved.</div>
                </div>
            </footer>
            <div class="el-backtop GoTop" style="right: 40px; bottom: 40px;">
                <svg class="svg-inline--fa fa-chevron-up" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor" d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path>
                </svg>
            </div>
        </div>
    </div>
</body>
</html>