@{
    Layout = "~/Views/Shared/_TissMaster.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.svg">
    @*<script src="https://cdn.ckeditor.com/4.16.2/standard/ckeditor.js"></script>*@

    <title>國家運動科學中心</title>
</head>
<body>
    <div>
        <div>
            <div class="Intro" id="introText" contenteditable="true">推動運動科學研究及應用，提升國際運動競爭力</div>
            <div class="SubIntro" id="subIntroText" contenteditable="true">TO PROMOTE OUR RESEARCH ACHIEVEMENTS IN SPORTS SCIENCE AND TO ENHANCE OUR INTERNATIONAL ATHLETIC COMPETITIVENESS</div>
        </div>
        <img class="ObjectivesImg" id="mainImage" src="/site/img/Objectives_img.fb276b91.jpg" alt="">
        <div class="btn-container">
            <input type="file" id="uploadImageInput" style="display:none;" accept="image/*">
            <button class="btn btn-primary" onclick="changeImg()">新增圖片</button>
            <button class="btn btn-danger" onclick="removeImg()">移除圖片</button>
        </div>
    </div>
    <script>
        function changeImg() {
            document.getElementById('uploadImageInput').click();
        }

        document.getElementById('uploadImageInput').addEventListener('change', function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (event) {
                    document.getElementById('mainImage').src = event.target.result;
                };
                reader.readAsDataURL(file);
            }
        });

        function removeImg() {
            document.getElementById('mainImage').src = '';
        }
    </script>
    @*<form id="editForm" method="post" action="/Tiss/SaveContent">
            <textarea name="editorContent" id="editor1"></textarea>
            <button id="saveBtn" class="btn btn-outline-primary btn-block">保存修改</button>
        </form>
        <ul>
            <li id="loginBtn">
                <button onclick="location.href='/Tiss/Login'" data-v-e61ebf00="" aria-disabled="false" type="button" class="el-button is-plain is-text FontSizeBtn" aria-label="btn">網頁管理者</button>
            </li>
            <li id="logoutBtn" style="display: none;">
                <form id="logoutForm" action="/Tiss/Logout" method="post">
                    <button type="submit" class="btn btn-outline-danger btn-block">登出</button>
                </form>
            </li>
        </ul>
        <script>

            $(document).ready(function () {
                // 假設 isLoggedIn 是一個表示是否已登入的變數，true 表示已登入，false 表示未登入
                var isLoggedIn = '@Session["LoggedIn"]' == 'True';

                if (isLoggedIn) {
                    $('#logoutBtn').show(); // 顯示登出按鈕
                } else {
                    $('#loginBtn').show(); // 顯示登入按鈕
                }
            });
            // 初始化 CKEditor
            CKEDITOR.replace('editor1');

            // 在表單提交時，確保 CKEditor 的內容被提交
            document.getElementById('editForm').onsubmit = function () {
                CKEDITOR.instances.editor1.updateElement();
            };
        </script>*@
</body>
</html>